WebContent/*.swf
WebContent/assets/*.png
WebContent/*.html
WebContent/history/*
WebContent/swfobject.js
WebContent/project/*
WebContent/WEB-INF/classes/*
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig